{% extends 'index.html' %}
{% load staticfiles %}
{% block title %}关于我-小小糊涂仙{% endblock %}
{% block article %}
    <article class="box post post-excerpt">
        <br><br>
            <div class="info">
                <span class="date"><span class="month">关<span></span></span> <span class="day">于</span><span class="year">我</span></span>

            </div>
            <p style="font-size: 24px;">
                有人说：<strong>"林深时见鹿，海蓝时见鲸，梦醒时见你。然林深时雾起，不知归处，海蓝时浪涌，望而止步，梦醒时夜续，惊慌失措。鹿不在侧，鲸不予游，亦，不见你"。</strong>
                <br><br>
                然，<strong>等风吹过深林雾，海映晴蓝空，你唤我梦醒，便可见鹿，见鲸，亦见你。</strong>
                <br><br>
                所以，少年们，看，彩虹总在风雨后。加油吧。

            </p>
    </article>
{% endblock %}
{% block page %}{% endblock %}