{% extends 'index.html' %}
{% load staticfiles %}
{% block title %}{{ article.title }}-小小糊涂仙{% endblock %}
{% block article %}
    <article class="box post post-excerpt">
        <header>
            <h2>{{ article.title }}</h2>
            <p></p>
        </header>
        <div class="info">
            <span class="date"><span class="month">{{ article.add_time.month }}<span>y</span></span> <span class="day">{{ article.add_time.day }}</span><span class="year">, {{ article.add_time.year }}</span></span>
            <!--
                Note: You can change the number of list items in "stats" to whatever you want.
            -->
            <ul class="stats">
                <li><a class="icon fa-comment">{{ comment_nums }}</a></li>
                <li><a class="icon fa-heart">{{ article.click_nums }}</a></li>
{#                <li><a href="#" class="icon fa-twitter">64</a></li>#}
{#                <li><a href="#" class="icon fa-facebook">128</a></li>#}
            </ul>
        </div>
        <p>
             {{ article.content|safe }}
        </p>
{#        <img style="size: 200px; margin: auto;" src="{{ MEDIA_URL }}{{ article.image }}" alt="" />#}

{#        {% if article.get_next_by_add_time %}#}
{#            <img src="{% static 'images/65左双箭头.png' %}">&nbsp;&nbsp;#}
{#            <a style="text-decoration: none;" href="{% url 'blog:article_detail' article.get_previous_by_add_time.id %}">{{ article.get_previous_by_add_time.title }}</a>#}
{##}
{#        {% endif %}#}
{#        {% if article.get_next_by_add_time %}#}
{#            <a  style="text-decoration: none;margin-left: 780px;" href="{% url 'blog:article_detail' article.get_next_by_add_time.id %}">{{ article.get_next_by_add_time.title }}</a>#}
{#            &nbsp;&nbsp;<img src="{% static 'images/64右双箭头.png' %}">#}
{#        {% endif %}#}
    </article>

    <article class="box post post-excerpt">
        <div class="info">
            <span class="date"><span class="month">评论<span>y</span></span> <span class="day">{{ comment_nums }}</span><span class="year"></span></span>
        </div>
        <br><br><br><br>
        <section class="box text-style1">

            {% for comment in all_comments %}
                <strong>{{ comment.name }}:</strong><br>
                <div class="inner">
                    <p>
                        {{ comment.message }}
                    </p>
                    <p>
                        <a style="text-decoration: none;margin-left: 850px;" href=".">回复</a>
                    </p>
                </div>
            {% endfor %}
        </section>

    </article>
{% endblock %}
<br><br>
{% block page %}
    <section>
            <form>
                <div class="fields">
                    <div class="field">
                        <label for="name">昵称<span style="color: red;">*</span></label>
                        <input type="text" name="name" id="comment-name" />

                    </div>
                    <div class="field">
                        <label for="email">邮箱<span style="color: red;">*</span></label>
                        <input type="text" name="email" id="comment-email" />

                    </div>
                    <div class="field">
                        <label for="message">内容<span style="color: red;">*</span></label>
                        <textarea name="message" id="comment-message" rows="3" placeholder="扯淡、吐槽、表扬、鼓励...想说啥就说啥！"></textarea>
                    </div>
                </div>
                <br>
                <input id="submit-comment" type="button" value="评论" />

            </form>
        </section>
{% endblock %}
{% block js %}
    <script>
    //添加评论
    $(document).ready(function() {
        $("#submit-comment").on('click', function () {
            let name = $("#comment-name").val();
            let email = $("#comment-email").val();
            let message = $("#comment-message").val();
            if (name === "" && email === "" && message === ""){
                alert("昵称,邮箱，评论不能为空");
                return
            }
            else if (name === "") {
                alert("昵称不能为空");
                return
            }
            else if (email === "") {
                alert("邮箱不能为空");
                return
            }
            else if (message === "") {
                alert("评论不能为空");
                return
            }

            $.ajax({
                cache: false,
                type: "POST",
                url: "{% url 'blog:add_comment' %}",
                data: {'article_id': {{ article.id }}, 'name': name, 'email': email, 'message': message},
                async: true,
                beforeSend: function (xhr, settings) {
                    xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
                },
                success: function (data) {
                    if (data.status === 'fail') {
                        alert(data.msg)

                    }
                    else if (data.status === 'success') {
                        window.location.reload();//刷新当前页面.
                    }
                },
            });
        });
    });

    </script>
{% endblock %}