{% extends 'index.html' %}
{% load staticfiles %}
{% block title %}分类{% endblock %}
{% block header %}
{% endblock %}
{% block bread %}
    <ul class="icons">
        <li>当前位置:分类</li>
    </ul>
{% endblock %}
{% block list %}

    <article class="post featured">
        <header class="major">
            <span class="date">目 录</span>
            {% for labels in all_label %}
                <h3>{{ forloop.counter }}.<a href="{% url 'blog:article_label' label=labels.name %}">{{ labels.name }}({{ labels.article_set.all.count }})</a></h3>
            {% endfor %}
        </header>
    </article>

{% endblock %}
{% block all %}
{% endblock %}
{% block footer %}
{% endblock %}
