{% extends 'index.html' %}
{% load staticfiles %}
{% block title %}数据库{% endblock %}
{% block header %}
{% endblock %}
{% block bread %}
    <ul class="icons">
        <li>当前位置:数据库</li>
    </ul>
{% endblock %}
{% block list %}

    <article class="post featured">
        <header class="major">
            <span class="date">目 录</span>
            {% for article in all_article %}
                <h3>{{ forloop.counter }}.<a href="{% url 'blog:article_detail' kind='database' article_id=article.id %}">{{ article.title }}</a></h3>
            {% endfor %}
        </header>
    </article>

{% endblock %}
{% block all %}
{% endblock %}
{% block footer %}
{% endblock %}