<!DOCTYPE HTML>
{% load staticfiles %}
<html>
	<head>
		<title>{% block title %}首页-小小糊涂仙{% endblock %}</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="{% static 'css/main.css' %}" />
	</head>
	<body class="is-preload">

		<!-- Content -->
			<div id="content">
				<div class="inner">

					<!-- Post -->
                {% block article %}
                    {% for article in all_articles.object_list %}
						<article class="box post post-excerpt">
							<header>
								<h2><a href="{% url 'blog:article_detail' article.id %}">{{ article.title }}</a></h2>
								<p style="font-size: 18px;">{{ article.excerpt }}...</p>
							</header>
							<div class="info">
								<span class="date"><span class="month">{{ article.add_time.month }}<span>y</span></span> <span class="day">{{ article.add_time.day }}</span><span class="year">, {{ article.add_time.year }}</span></span>
								<!--
									Note: You can change the number of list items in "stats" to whatever you want.
								-->
								<ul class="stats">
									<li><a href="{% url 'blog:article_detail' article.id %}" class="icon fa-comment">{{ article.comment_set.all.count }}</a></li>
									<li><a href="#" class="icon fa-heart">{{ article.click_nums }}</a></li>
{#									<li><a href="#" class="icon fa-twitter">64</a></li>#}
{#									<li><a href="#" class="icon fa-facebook">128</a></li>#}
								</ul>
							</div>
{#							<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>#}
						</article>
                    {% endfor %}
                {% endblock %}
					<!-- Pagination -->
                    {% block page %}
						<div class="pagination" style="margin-left: 50%;">
							<!--<a href="#" class="button previous">Previous Page</a>-->
                            {% if all_articles.has_previous %}
                                <a href="?{{ all_articles.previous_page_number.querystring }}" class="button next">上一页</a>
                            {% endif %}
							<div class="pages">
                                {% for page in all_articles.pages %}
                                    {% if page %}
                                        {% ifequal page all_articles.number %}
                                            <a href="?{{ page.querystring }}" class="active">{{ page }}</a>
                                        {% else %}
                                            <a href="?{{ page.querystring }}">{{ page }}</a>
                                        {% endifequal %}
                                    {% else %}
                                        <a href="#"><span>&hellip;</span></a>
                                    {% endif %}
                                {% endfor %}
							</div>
                            {% if all_articles.has_next %}
                                <a href="?{{ all_articles.next_page_number.querystring }}" class="button next">下一页</a>
                            {% endif %}
{#							<a href="#" class="button next">Next Page</a>#}

						</div>
                    {% endblock %}

				</div>
			</div>

		<!-- Sidebar -->
			<div id="sidebar">

				<!-- Logo -->
					<h1 id="logo"><a href="#">RSS </a></h1>

				<!-- Nav -->
					<nav id="nav">
						<ul>
							<li class="{% if links == 'index' %}current{% endif %}"><a href="{% url 'index' %}">首页</a></li>
							<li {% if request.path|slice:'13' == '/blog/archive' %}class="current"{% endif %}><a href="{% url 'blog:archive' %}">归档</a></li>
							<li {% if request.path|slice:'11' == '/blog/label' %}class="current"{% endif %}><a href="{% url 'blog:label' %}">分类</a></li>
							<li {% if request.path|slice:'13' == '/blog/aboutme' %}class="current"{% endif %}><a href="{% url 'blog:aboutme' %}">关于我</a></li>
						</ul>
					</nav>

				<!-- Search -->
					<section class="box search">
                        {% csrf_token %}
						<form method="get" action="{% url 'blog:search_list' %}">
							<input id="search_keywords" type="text" class="text" name="search" placeholder="文章搜索" />
						</form>
					</section>

				<!-- Text -->
					<section class="box text-style1">
						<div class="inner">
							<p>
								<strong>最新公共:</strong> 十年生死两茫茫，
                                不思量，自难忘。
							</p>
						</div>
					</section>

				<!-- Recent Posts -->
					<section class="box recent-posts">
						<header>
							<h2>最近文章</h2>
						</header>
						<ul>
                            {% for article in latest_article %}
							<li><a href="{% url 'blog:article_detail' article.id %}">{{ article.title }}</a></li>
                            {% endfor %}
						</ul>
					</section>

				<!-- Recent Comments -->
					<section class="box recent-comments">
						<header>
							<h2>最新评论</h2>
						</header>
						<ul>
                            {% for comment in latest_comment %}
							<li>{{ comment.name }} <a href="{% url 'blog:article_detail' comment.comment_article.id %}">{{ comment.message }}</a></li>
                            {% endfor %}
						</ul>
					</section>

				<!-- Copyright -->
					<ul id="copyright">
						<li>&copy; 小小糊涂仙的博客</li>
                        <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>

			</div>

		<!-- Scripts -->
			<script src="{% static 'js/jquery.min.js' %}"></script>
			<script src="{% static 'js/browser.min.js' %}"></script>
			<script src="{% static 'js/breakpoints.min.js' %}"></script>
			<script src="{% static 'js/util.js' %}"></script>
			<script src="{% static 'js/main.js' %}"></script>
{#            <script>#}
{#                function search_click(){#}
{#                    let keywords = $('#search_keywords').val();#}
{#                    if(keywords === ""){#}
{#                        return#}
{#                    }#}
{#                    #}
{#                }#}
{#            </script>#}
            {% block js %}{% endblock %}
	</body>
</html>